@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
position: relative;
box-sizing: border-box;
/* border: 1px solid black; */
}
body{
margin: 0;
padding: 0;
font-family: 'Comic Sans MS','微軟正黑體';
background:url("images/背景(個人).png");
}
a{
text-decoration: none;
color: white;
}
ul{
list-style: none;
padding: 0;
margin: 0;
}
h1, h2, h4{
margin: 0;
}
.container{
max-width: 960px;
margin: 24px auto;
padding: 16px 24px;
background-color:#a2d7dd;
}
.photo{
float: left;
width: 200px;
height: 200px;
border-radius:999em;
}
.introduce{
position: absolute; top:33% ;right:10%;
font-size:18px;
background-color:#006C7F;
padding:10px;
border-radius:20px;
}
.resume{
border: 8px solid;
padding: 20px;
display: flex;
color: white;
line-height: 28px;
letter-spacing: 1px;
}
.left, .right{
padding: 10px;
}
.left{
flex: 5;
padding-right: 30px;
border-right: 1px solid #ff7168;
}
.right{
flex: 7;
padding-left: 30px;
padding-top: 150px;
}
h4{
opacity: .8;
font-weight: 400;
margin-top: 36px;
}
h3{
opacity: .8;
font-weight: 400;
margin-top: 36px;
position:relative;bottom:-375px;left:-200px;
}
h2.skill{
position:relative;bottom:-360px;left:-200px;
}
h2{
margin: 12px 0;
}
h2::after{
content: '';
display: inline-block;
margin-left: 10px;
width: 20px;
height: 8px;
background-color: #ff7168;
}
.deco{
position: absolute;
top: 0;
right: 0;
width: 300px;
height: 140px;
background: linear-gradient(135deg, #ff5f5f, #ffffae);
border-radius: 70px 0 0 70px;
}

p.decoo{
	font-size:48px;
position:relative;right:-30px;top:-15px;

}

.title{
margin-top: 24px;
}
.subtitle{
margin: 12px 0;
}
.subtitle::after{
content: '';
display: block;
width: 60px;
height: 4px;
background-color: #ff7168;
}
.btn{
position: absolute;bottom:51%;left:4px;
}
button {
padding: 10px 20px;
font-size: 16px;
text-align: center;
cursor: pointer;
outline: none;
color:#000000   ;
background-color: #7DB9DE	;
border: none;
border-radius: 15px;
box-shadow: 0 6px #317589;
font-family: Comic Sans MS	;
}
button:hover {background-color: #a2d7dd}
button:active {
background-color:#00A5BF ;
box-shadow: 0 3px #044F67 ;
transform: translateY(4px);
}

.skillList{
display: flex;
flex-wrap: wrap;
position:relative;bottom:-360px;left:-180px;
}
.skillList li{
width: 25%;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
}
.circle{
width: 70px;
height:70px;
border-radius: 50%;
overflow: hidden;
background-color: rgba(255, 113, 104,0.4);
}
.circle::after{
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: calc(100% - 20px);
height: calc(100% - 20px);
border-radius: 50%;
background-color: #a2d7dd;
}
.p90, .p180, .p270, .p360{
width: 50%;
height: 50%;
position: absolute;
background-color: #ff7168;
}
.p90{
top: 0;
right: 0;
}
.p180{
bottom: 0;
right: 0;
}
.p270{
bottom: 0;
left: 0;
}
.p360{
top: 0;
left: 0;
}
img.me{
width:280px;
position:relative;bottom:-280px;
}

.commentList > li{
display: flex;
margin-bottom: 10px;
}
.commentList li ul{
padding-left: 10px;
margin-left: 10px;
border-left: 4px solid;
}
.commentList li:nth-child(1) ul{border-color: #ff7168;}
.commentList li:nth-child(2) ul{border-color: #ffb087;}
.commentList li:nth-child(3) ul{border-color: #ffde9e;}

.effectList{
line-height: 36px;
}

img.con{
	width:50px;
}
